$font-family: 'Merriweather', serif;
$prime-color: #40464d;
$second-color: #d1d1d1;
$third-color: #bcbcbc;
$fourth-color: #4c4264;

body {
  font: 100% $font-family;
  color: $second-color;
  background-color: $prime-color;
}

.grid-container {
  //display: grid;
  width: Xu;
  height: Yu;
  position: absolute;
  top: 35%;
  left: 37.5%;
  margin-left: -(X/2)u;
  margin-top: -(Y/2)u;
  //grid-template-columns: 140px 300px auto 100px 80px;
  //grid-template-rows: 25% 100px auto;
}
/*.container {
  display: grid | inline-grid | subgrid;
}*/
.container2 {
  display: grid;
  grid-template-columns: 240px 140px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.container3 {
  //display: grid;
  //grid-template-columns: 240px 340px auto 100px 100px;
  //grid-template-rows: 25% 50px auto;
  position: fixed;
  bottom: 0;
  font-size: 50px;
  padding: 20px;
  width: 100%;
  background-color: $fourth-color;
}
.container4 {
  display: grid;
  padding: 30px;
  padding-right: 100px;
  //grid-template-columns: 140px 340px auto 100px 100px;
  grid-template-rows: 75% 100px auto;
}
.textForm{
  //width: 750px;
  width: 45%;
  font-size: 40px;
}

.submit{
  font-size: 40px;
}

ul {
  list-style-type: none;
  font-size: 30px;
}

li{
  padding-top: 30px;
  text-align: left;
  
  //border-bottom: 1px solid $third-color;
}

li:nth-child(odd){
  background-color: $fourth-color;
}​

.initialText{
  font-size: 40px;
}
.initialForm{
  width: 400px;
}
.inviteBox {
  width: 25%;
  font-size: 30px;
}

.inviteSubmit {
  font-size: 30px;
}

.inviteContainer{
  position: fixed;
  top: 0;
  font-size: 30px;
  padding: 20px;
}
