$font-family: 'Merriweather', serif;
$prime-color: #b71c1c;
$second-color: #212121;
$blue-color: #0d47a1;

body {
  font: 100% $font-family;
  color: $second-color;
  background-color: $prime-color;
}

.grid-container {
  display: grid;
  grid-template-columns: 140px 300px auto 100px 80px;
  grid-template-rows: 25% 100px auto;
}
/*.container {
  display: grid | inline-grid | subgrid;
}*/
.container2 {
  display: grid;
  grid-template-columns: 240px 140px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.container3 {
  display: grid;
  //grid-template-columns: 240px 340px auto 100px 100px;
  grid-template-rows: 25% 50px auto;
}
.container4 {
  display: grid;
  //grid-template-columns: 140px 340px auto 100px 100px;
  grid-template-rows: 75% 100px auto;
}

ul {
  list-style-type: none;
  font-size: 30px;
}

li{
  padding: 10px;
  background-color: yellow;
}

li:nth-child(odd) {
  padding: 10px; 
  background: cyan;
}